.navbar {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: #2874f0;
  max-height: 41px;
  min-height: 41px;
  color: #fafafafa;
  display: flex;
}

.navbar > h3 {
  margin-right: 20px;
  font-style: italic;
  font-size: 22px;
  display: flex;
  flex-direction: column;
}
.innerHeading {
  font-size: 11px;
}

#plus {
  color: yellow;
}
